
* {
  box-sizing: border-box;
}

/* hide actual input elements */
input[type="radio"] {
  //display: none;
}

/* ---------- pages ---------- */
.bigwrap {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 450px;
  height: 728px;
  overflow: hidden;
  padding: 0;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.mainpage {
  padding: 0;
//  border: 3px solid #888;
  background: #ddd;
  -webkit-transition: margin-left 0.5s ease-out;
}

.subpage {
  margin-left: 100%;
  overflow: auto;
  -webkit-transition: margin-left 0.5s ease-out;
}

.subpage1 {
//  border: 3px solid #88a;
  background: #ddf;
}

.subpage2 {
//  border: 3px solid #a88;
  background: #fdd;
}

.subpage3 {
//  border: 3px solid #8a8;
  background: #dfd;
}


/* ---------- control buttons ---------- */
.button {
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  list-style: none;
  border-top: 2px solid white;
  border-bottom: 1px solid black;
}

li:after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  padding: 2px;
  line-height: 1;
//  border: 1px solid black;
  border-radius: 0.7em;
  text-align: center;
  pointer-events: none;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black;
}

li label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 20px 0 10px;
//  border: 0;
//  background: 0;
}

.b1 {
}

.bm {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border: 1px solid black;
  background: rgba(200,200,200, 0.3);
}

/* ---------- controls ---------- */

#subpage1sel:checked ~ .bigwrap .mainpage,
#subpage2sel:checked ~ .bigwrap .mainpage,
#subpage3sel:checked ~ .bigwrap .mainpage {
  margin-left: -100%;
  -webkit-transition: margin-left 0.5s ease-out;
}

#subpage1sel:checked ~ .bigwrap .subpage1,
#subpage2sel:checked ~ .bigwrap .subpage2,
#subpage3sel:checked ~ .bigwrap .subpage3 {
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-out;
}
